* {
    padding: 0;
    margin:0;
    font-family:'Baloo Chettan 2', cursive;
}

body{
    background-image: url(../image/background_image.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

.navigation_bar{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

nav {
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    background-color: rgba(31, 29, 33,0.5);
}

.navigation_bar div{
    margin: 0.5rem 1rem;
}

.navigation_bar div a{
    text-decoration: none;
    color: #479761;
    font-size: 1.1rem;
}


.about_natneam{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 4rem;
}

.personal_details{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#profile_photo{
    border-radius: 50%;
    width: 15rem;
    margin-top: auto;
    margin-bottom: auto;
}

#name_natneam{
    font-size: 2.5rem;
    text-align: center;
    color: #479761;
}

#position_student{
    font-size: 1.5rem;
    text-align: center;
}

#about_me_small_paragraph{
    font-size: 1rem;
    text-align: center;
}

.hobbies_and_interests{
    width: 30%;
}

#hobbies_and_interests_title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
}

section[class="hobbies_and_interests"]  ul li{
    font-size: 1rem;
    text-align: center;
    list-style-type: none;
    padding:0.5rem;
}

#programming_skills_title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
}

.programming_skills ul li {
    text-align: center;
    list-style-type: none;
    padding: 0.5rem;
}

#educational_background_title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
}

.educational_background ul li{
    list-style-type: none;
    padding-top: 2rem;
}

footer ul{
    text-align: center;
}

footer ul li {
    display: inline;
    padding-right: 1erm;
    padding-left: 1rem;

}

footer ul li a img {
    margin-top:3rem;
    width: 1.5rem;
    height: 1.5rem;
}

#copy_right{
    text-align: center;
    font-size: 0.8rem;
}

