* {
    font-family:'Baloo Chettan 2', cursive;
}

body{
    background-image: url(../image/background_image.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

.navigation_bar{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

nav {
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
}

.navigation_bar div{
    margin: 0.5rem 1rem;
    position: initial;
    padding: 0;
    margin: 0;
    width: auto;
}

.navigation_bar div a{
    text-decoration: none;
    color: #479761;
    font-size: 1.1rem;
    padding: 0.5rem 1.2rem;
    margin: 0;
    transition: background-color 2s;
    transition: color 2s;
    border-radius: 3px;
}

.navigation_bar div a:hover{
    background-color: #479761;
    color: rgb(0, 0, 0);
}

.about_natneam{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 4rem;
}

.personal_details{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#profile_photo{
    border-radius: 50%;
    width: 15rem;
    margin-top: auto;
    margin-bottom: auto;
    transition: border-radius 2s;
}

#profile_photo:hover{
    border-radius: 10px;
}

#name_natneam{
    font-size: 2.5rem;
    text-align: center;
    color: #479761;
}

#position_student{
    font-size: 1.5rem;
    text-align: center;
}

#about_me_small_paragraph{
    font-size: 1rem;
    text-align: center;
}

.hobbies_and_interests{
    width: 25rem;
    box-shadow: 8px 8px 8px 1px rgba(255, 255, 255,0.1);
    transition: 0.3s;
    border-radius: 15px;
}

.programming_skills{
    width: 25rem;
    box-shadow: 8px 8px 8px 1px rgba(255, 255, 255,0.1);
    transition: 0.3s;
    border-radius: 15px;
}

.educational_background{
    width: 25rem;
    height: 14.5rem;
    box-shadow: 8px 8px 8px 1px rgba(255, 255, 255,0.1);
    transition: 0.3s;
    border-radius: 15px;
    text-align: center;
}

.hobbies_and_interests  div{
    font-size: 1rem;
    text-align: center;
    list-style-type: none;
    padding:0.5rem 0;
}

#hobbies_and_interests_title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
}

.programming_skills div {
    text-align: center;
    list-style-type: none;
    padding: 0.5rem;
}

#programming_skills_title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
}

.educational_background div{
    list-style-type: none;
    padding: 0.5rem;
}

#educational_background_title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
}

footer ul{
    text-align: center;
}

footer ul li {
    display: inline;
    padding-right: 1erm;
    padding-left: 1rem;

}

footer ul li a img {
    margin-top:3rem;
    width: 1.5rem;
    height: 1.5rem;
}

#copy_right{
    text-align: center;
    font-size: 0.8rem;
}

